@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');

.site-footer {
    width: 100%;
    padding: 40px 0 0;
    background: linear-gradient(to right, #1bb5be, #317bcb);
    color: white;
    font-family: Cairo;
    flex-shrink: 0;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0 20px;
}

.footer-left img,
.footer-center img{
    height: 60px;
    margin-bottom: 15px;
}
.footer-right{
    margin-bottom: 15px;
}
.footer-left,
.footer-right,
.footer-center{
    flex: 1;
    min-width: 300px;
}

.footer-left p {
    line-height: 1.6;
    font-size: 14px;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}
.footer-bottom {
    background-color: #1a3365;
    color: white;
    width: 100%;
    padding: 0; /* remove vertical padding */
}

.footer-bottom-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px; /* adjust this value to align with the bottom of the flag */
    font-size: 16px;
    text-align: left;
}

.footer-bottom-content p {
    margin: 0;
    line-height: 1.6;
}

.footer-bottom-content a {
    color: white;
    text-decoration: none;
    gap: 6px;

}

/* Make page fill entire viewport */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Flex container for the whole page */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Content grows to fill space */
.main-content {
    flex: 1;
}
.footer-left,
.footer-center{
    display: flex;
    align-items: center;
    gap: 20px; /* Space between logos */
}



